<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Todo App</title>
   <script src="https://unpkg.com/vue@3"></script>
   <link rel="stylesheet" href="./style.css">
</head>

<body>

   <div id="app">

      <form @submit.prevent="addTask">
         <input v-model="newTodo" placeholder="enter new todo">

         <button>AddTodo</button>
      </form>
      

      <ul v-for="todo in todos" :key="todo.id">

         <li v-if="todo.checked == false ">
            <input type="checkbox" name="" id="" @change="toggle(todo.id)">
            <!-- <span v-if="todo.checked=false">{{todo.text}}</span> -->
            <!-- <del v-if="todo.checked"></del> -->
            {{todo.text}}
            <button @click="editTask(todo.id)">edit</button>
            <button @click="removeTask(todo.id)">delete</button>

         </li>


      </ul>

      <div v-if="display" >
         <h2>Done</h2>

         <ul v-for="todo in todos" :key="todo.id">

            <li v-if="todo.checked">

               <input type="checkbox" name="" id="" @change="toggle(todo.id)">
               <del> {{todo.text}}</del>
               <!-- <span v-else>{{todo.text}}</span>       -->
               <!-- <button @click="editTask(todo.id)">edit</button> -->
               <!-- <button @click="removeTask(todo.id)">delete</button> -->
               <button @click="editTask(todo.id)">edit</button>
               <button @click="removeTask(todo.id)">delete</button>

            </li>

         </ul>

      </div>




   </div>

   <script src="./main.js"></script>
</body>

</html>